body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.heading{
  background: #39acf0;
  color: #fff;
  padding: 1px;
}

.btn{
  border-color: #fff;
  padding: 8px 15px;
  border-radius: 20px;
  border-image: none;
  border-style: none;
  margin: 5px;
  cursor: pointer;
}

.btn-category{
  background: #cfcfcf;
  color: #666;
}

.btn-category:hover {
  background: #dbdbdb;
  color: #555;
}

.filters{
  margin: 20px 0px;
}